.laptop {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: black;
  .content {
    display: flex;
    padding-block: 50px;
    flex-direction: column;
    padding-block: 50px;
    .inscription {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 50px;
      .info {
        h1 {
          font-size: clamp(34px, 3vw, 14px);
        }
        p {
          width: 100%;
          font-size: 18px;
          opacity: 60%;
        }
      }
    }
    .boxes {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      gap: 30px;
      .box {
        border: 1px solid #cecece;
        width: 281px;
        height: 330px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: white;
        .box_img {
          img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            width: 279px;
            height: 200px;
          }
        }
        .box_info {
          padding: 20px;
          gap: 8px;
          display: flex;
          flex-direction: column;
        }
      }
      .box:hover {
        cursor: pointer;
        transform: scale(1.001);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media (max-width: 631px) {
  .laptop {
    .content {
      .inscription {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .info {
          text-align: center;
        }
      }
      .boxes {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .box {
          width: 281px;
          height: 330px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          background-color: white;
          .box_img {
            img {
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              width: 279px;
              height: 200px;
            }
          }
          .box_info {
            padding: 20px;
            gap: 8px;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .laptop {
    .content {
      .inscription {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .info {
          text-align: center;
        }
      }
      .boxes {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .box {
          width: 100%;
          height: 400px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          background-color: white;
          .box_img {
            img {
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              width: 100%;
              height: 220px;
            }
          }
          .box_info {
            padding: 20px;
            gap: 8px;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
